hr.style5 {
	background-color: #000;
	border-top: 2px dashed #8c8b8b;
	margin: 0;
}

.footer .list-group-item {
	background-color: #343a40;
	text-align: center;
	font-size: 9px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;

}

.footer .list-group-item a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	margin: 0;
}

.list-group-item a:hover {
	color: #0077B5;
}

.center {
    text-align: center;
 }

footer {
	margin-bottom: : 0;
	padding: 0;
}
