body, html {
  height: 100%;
  margin: 0;
}

p {
  color: rgba(255, 255, 255, 0.7) !important;
}

.bg {
  background-image: url('background.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bg h1 {
  font-size: 3em;
  padding-bottom: .6em;
}

.bg p {
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 3px;
}

.bg h2 {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 3px;
	font-size: 1em;
}

.articles{
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}
 
.articles .container {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 12vw;
  padding-left: 12vw;
}

.articles a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none !important;
  font-family: bold;
}

.articles a:hover {
  color: #0077B5;
}

.articles h1 {
  font-size: 1.5em;
}

.col-sm-10 {
  padding-bottom: 10px;
}

.card:hover {
  border-color: #000;
}

@media screen and (max-width: 800px) {

  .card h1 {
    font-size: 1em;
  }

  .card p {
    font-size: .8em;
  }

  .articles img {
    display: none;
  }

  .bg h1 {
    font-size: 2em;
    padding-bottom: .5em;
  }

  .bg p {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1.2px;
  }
}