body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('background.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p {
	color: rgba(255, 255, 255, 0.8);
	padding-top: 30px;
	font-size: 18px;
	line-height: 2rem;
	letter-spacing: 3px;
}

h2 {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 3px;
	font-size: 15px;
}

hr.style5 {
	background-color: #000;
	border-top: 2px dashed #8c8b8b;
	margin: 0;
}

.footer .list-group-item {
	background-color: rgba(24, 24, 24, .8);
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.footer .list-group-item a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

.list-group-item a:hover {
	color: #0077B5;
}